@import "lib/normalize";
@import "common/head";

body{
  background-color: #f8f9fa;
}

@media only  screen and (min-width: 960px){
  .container{
    width: 960px;
  }
}

.container{
  margin: 0 auto;
}