/***
  包含：
  1. 网站公共组件的的样式如:head.heml的样式。
  2. 主题样式
  3. 全局样式
 */
@import "common/color";
@import "lib/normalize";
@import "lib/milligram";
@import "common/head";
@import "common/foot";


body{
  background-color: #ecedee;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
}

@media screen and(min-width: 768px){
  .container {
    width: 750px;
  }
}
@media screen and(min-width: 992px){
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content{
  display: flex;
}

@media screen and(max-width: 640px){
  .sidebar{
    display: none;
  }
}


//可点击按钮
.action{
  color: $colorLightGray;
  cursor: pointer;
  &.true{
    color: $colorMain;
  }
  &:hover{
    color: $colorMain;
  }
}


a{
  text-decoration:none;
  cursor: pointer;
  &:link{
    color: $colorBlack;
  }
  &:visited{
    color: $colorLightGray;
  }
  &:hover{
    color: $colorMain;
  }
  &:active{
    color: $colorMain;
  }
}
