
@import "common/color";

.content{
  display: flex;
  margin-top: 4.8em;

  .main{
    flex-grow:10;
    flex-basis: 10em;
    background-color: #fff;

    .navbar{
      display: flex;
      border-bottom: 1px solid $colorBorder;
      padding: 0 1em;
      .title{
        color: $colorDeepBlack;
      }

      .navwrap{
        display: flex;
        flex-direction:row-reverse;
        align-items:center;
        flex-grow: 1;
        color: $colorLightGray;

        .navitem{
          padding: 0 .6em;
          font-weight: 500;
        }
      }
    }

    .article-wrap{

      .article{
        margin-bottom: 5px;
        border-bottom: 1px solid $colorBorder;
        padding: 0 1em 15px;
        .info-row{
          padding-top: 10px;
          display: flex;
        }

        .user-meta{
          align-items: center;
          color: $colorBlack;

          .user-avatar{
            height: 2em;
            width: 2em;
          }
          .user-name{
            margin: 0 .2em 0 .6em;
          }
          .pub-time{
            margin: 0 .6em 0 .2em;
          }
        }

        .screenshot{

            .screenshot-img{
              width: 100%;
              padding-top: 40%;
              background-repeat:no-repeat;
              background-size:cover;
              background-position:center;
            }
        }

        .title{
          color: $colorDeepBlack;
          font-size: xx-large;
          font-weight: 700;
        }

        .summary{
          padding: 10px 2px;
          color: $colorBlack;
          letter-spacing: 2px;
          line-height:150%;
        }

        .shop{
          align-items: center;
          color: $colorBlack;
          font-size: 1.2em;
          padding-top: 0;
          padding-left: 5px;
          font-weight: 500;

          div{
            margin-right: 1.3em;
          }

          .read-more{
            font-size: .8em;
            flex-grow: 1;
            display: flex;
            flex-direction: row-reverse;
            border: none;
          }
        }
      }
    }
  }

  .sidebar{
    flex-grow:4;
    flex-basis: 4em;
    margin-left: 1em;

    .column{
      background: #ffffff;
      padding: .8em 1em;
      margin-bottom: 1em;

      & > .title{
        margin-top: 0;
        padding-bottom: 7px;
        border-bottom: 1px solid $colorBorder;
        margin-bottom: 21px;
        position: relative;

        &:after {
          content: "";
          width: 5em;
          height: 1px;
          background: $colorMain;
          position: absolute;
          left: 0;
          bottom: -1px;
        }
      }
    }

    .tag{

      .tag-cloud{
        font-size: .9em;
        a{
          border: 1px solid $colorBorder;
          padding: 2px 7px;
          line-height: 1.5em;
          display: inline-block;
          margin: 0 7px 7px 0;
          transition: all 0.2s ease;
        }
      }
    }

    .top{
      .top-article-list{
        padding-left: 5px;

        .top-article{
          margin-bottom: .7em;

          .title{
            color: $colorBlack;
            cursor: pointer;
            font-weight: 300;
            font-size: .97em;
            &:hover{
              color: $colorMain;
            }
          }
          .shop{
            padding-left: 3px;
            margin-top: 6px;
            display: flex;
            align-items: center;
            font-size: .9em;

            div{
              margin-right: .9em;

              span{
                padding: 0 .5em;
                font-size: .8em;
              }
            }
          }
        }
      }
    }
  }
}

