.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 4em;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 9999;

  & + div {
    height: 4em;
  }
  .container {
    display: flex;
    align-items: center;

    .log {
      height: 60%;
      cursor: pointer;

      img {
        height: 100%;
      }
    }

    .top-nav {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      flex-grow: 1;
      height: 100%;
      flex-direction: row;

      .nav-item {
        align-self: center;
        padding: 0 .8em;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        color: #bbb;
      }

      .search {
        padding: 0;
        .form-search {
          display: flex;
          align-items: center;
          margin-bottom: 0;

          i{
            font-size: 23px;
          }

          .form-group {
            display: none;
            font-size: .6em;
            input {
              border: none;
              outline:medium;
              margin-bottom: 0;
            }
          }
          i{

          }

        }
      }

      .user {
        margin-right: 0;
        position: relative;
        padding-right: 0;
        display: flex;
        align-items: center;

        .sign{
          display:  flex;
          flex-direction: row;
          font-size: .8em;

          .sign-in{
            margin-left: 1em;
          }

          a:visited{
            color: inherit;
          }

        }

        .drop-down{
          display: flex;
          img {
            height: 1.3em;
            border-radius: .2em;
          }

          .sub-nav {
            background-color: #fff;
            color: $colorBlack;
            font-size: .8em;

            .drop-down-menu {
              position: absolute;
              right: 0;
              top: 2em;
              padding: 0 1em;
              width: 8em;
              display: none;
              text-align: left;
              list-style: none;
              background-color: #fff;
              box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
              border: 1px solid $colorBorder;
              border-radius: 4px;

              li {
                margin: 1em 0;
              }
            }
          }
        }
      }

    }
  }
}