<div class="header">
	<div class="container ">
		<div class="log">
			<img src="/img/log.png">
		</div>
		<div class="top-nav">
			<div class="nav-item action search ">
				<form class="navbar-form form-search active" action="/search" method="GET">
					<i class="ion-ios-search-strong"></i>
					<div class="form-group">
						<input class="form-control" name="q" type="text" value="" placeholder="搜索本站内容">
					</div>
				</form>
			</div>
			<a href="/topic/add" class="nav-item action add ion-plus">

			</a>
			<div class="nav-item action  ion-android-notifications">

			</div>
			<div class="nav-item user">
				<% if(typeof(user) == "undefined"){ %>
				<div class="sign">
					<a href="/signUp" class="sign-up">注册</a>
					<a href="/signIn" class="sign-in">登录</a>
				</div>
				<% }else{ %>
				<div class="drop-down">
					<img class="avatar" src="<%=user.picture%>">
					<div class="sub-nav">
						<ul class="drop-down-menu">
							<li><a href="/">我的主页</a></li>
							<li><a href="#">设置</a></li>
							<li><a href="#">关于</a></li>
							<li><a href="/logOut">退出</a></li>
						</ul>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>
<div></div>
