//网站颜色

$colorMain : #3366b9 !default;          //主题色
$colorBackground : #f8f9fa !default;   //背景色
$colorDeepBlack : #333 !default;        //黑
$colorBlack : #666 !default;            //浅黑
$colorLightGray : #ccc !default;          //灰
$colorGray : rgba(24,37,50,.5) !default;     //灰
$colorBorder : #f1f1f1 !default;     //灰