@import "common/color";

.content {
  margin-top: 1em;
  .main {
    flex-grow: 10;
    flex-basis: 10em;
    background-color: #fefefe;
    border: 1px solid #e2e1e1;

    .nav-bar {
      display: flex;
      padding: 0 1em;
      border-bottom: 1px solid #e2e3e3;
      background-color: #f7f7f7;
      color: $colorBlack;
      margin-bottom: .5em;
      font-size: .9em;

      .nav-item {
        padding: 1em .6em .7em;
        font-weight: 500;
        margin-bottom: -1px;
        cursor: pointer;

        &.select ,&:hover{
          border-bottom: 2px solid $colorMain;
          color: $colorMain !important;
        }
        &:visited{
          color: #666;
        }
      }
    }

    .topics {
      padding: 0;
      margin: 0;
      .topic {
        display: flex;
        padding: .7em 1em;
        border-bottom: 1px solid #e0e0e0;
        &:hover{
          background-color: #f8f8f8;
        }

        .user-info {
          width: 2.3em;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          .user-avatar {
            border-radius: 100%;
            width: 100%;
            padding-top: 100%;
            background-size: cover;
            background-position: center;
          }
        }

        .topic-count {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: .2em .8em 0;


          .count-vote {
            display: flex;
            justify-content: center;
            color: $colorMain;
            font-size: 1.2em;
          }

          .count-set {
            display: flex;
            color: #aaa;
            font-size: .7em;

            .count-replies {
              text-overflow: ellipsis;
            }
            .count_seperator{
              margin: 0 .15em 0 .1em;
            }

            .count-visits {

            }
          }
        }

        .topic-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-grow: 1;

          .topic-label {
            margin-right: .5em;
            background-color: #e5e5e5;
            border-radius: 1px;
            padding: .3em .4em .2em;
            font-size: .7em;
            color: #999;
          }

          .topic-title {
            color: #444;
            font-size: 1em;
            a{
              &:visited{
                font-size: 1em;
              }
            }
          }
        }

        .topic-reply-last {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 2em;

          .reply-user {
            width: 1.4em;
            .user-avatar {
              border-radius: 100%;
              width: 100%;
              padding-top: 100%;
              background-size: cover;
              background-position: center;
            }
          }

          .reply-time {
            font-size: .75em;
            min-width: 5em;
            text-align: right;
            color: #aaa;
          }
        }
      }
    }

    .pagination{
      display: flex;
      ul{
        display: flex;
        li{
          border: 1px solid #ddd;
          padding: 6px 12px;
          list-style-type: none;
        }

        .disable{
          cursor: not-allowed;
          & a{
            cursor: inherit;
          }
        }

        .active{
          background-color: #CFDFFC;
          border-color: #BDCFEF !important;
          color: $colorMain;
        }

        .pre , .next {


        }
      }
    }
  }

  .sidebar {
    flex-grow: 3;
    flex-basis: 3em;
    margin-left: 1em;
    font-size: .9em;

    .column {
      background: #ffffff;
      padding: .8em 1em;
      margin-bottom: 1em;
      border: 1px solid #e2e1e1;

      & > .title {
        margin-top: 0;
        padding-bottom: 7px;
        border-bottom: 1px solid $colorBorder;
        position: relative;
        color: #666;

        &:after {
          content: "";
          width: 5em;
          height: 1px;
          background: $colorMain;
          position: absolute;
          left: 0;
          bottom: -1px;
        }
      }

      .content{

      }
    }
  }
}

